### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Environment variables & Sensitive Information
*.env
*.agekey
*.pub
*.key

# k8s
kubeconfig

# Ansible
xanmanning.k3s*

#TODO SOME ENVIRONMENT VARIABLES ARE NOT LOADING DURING KUBECTL APPLY
real-secret-cloudflare.yaml

# Heml Charts
charts

# IGNORE WIP FOLDERS
cert-manager
cert-manager_org