#
# Environment variables
#

# The YAML file that contains data for root README.MD
# e.g. docs/data/home.yml
export HOME_README_DATA_FILE="data/home.yml"

# The template file that defines README.MD
# e.g. docs/templates/readme/readmeTemplate.tmpl
export README_TEMPLATE_FILE="templates/readme/readmeTemplate.tmpl"

# The absolute path of README.MD file name to be generated
# e.g. "../../README.MD"
export HOME_README_FILE="../README.MD"


# The K3S cluster name
# e.g. "homelab"
export K3S_CLUSTER_NAME="homelab"

# The K3S cluster domain name
# e.g. "home.sadaram.in"
export K3S_CLUSTER_DOMAIN_NAME="*.naga.com"

# The total K3S Server Nodes
# e.g. "1"
export K3S_SERVER_COUNT=1

# The total K3S Agent Nodes
# e.g. "2"
export K3S_AGENT_COUNT=2

# The K3S cluster host IP where the Kubernetes API will be listening on
# e.g. "127.0.0.1"
export K3S_HOST_IP="127.0.0.1"

# The K3S cluster host port where the Kubernetes API listening port will be mapped to on your host system
# e.g. "6445"
export K3S_HOST_PORT="6445"

# The K3S Image Tag
# e.g. "rancher/k3s:latest"
export K3S_IMAGE_TAG="rancher/k3s:v1.26.6-k3s1"

# The K3S Network Name
# e.g. "my-custom-net"
export K3S_NETWORK_NAME="sadaram-net"

# The K3S Subnet
# e.g. "172.28.0.0/16"
export K3S_SUBNET="152.28.0.0/16"

# The K3S Secret Token
# e.g. "randomly-generated-secret-token"
export K3S_SECRET_TOKEN="your-random-key"

# The ACME Email ID
# e.g. "real@email.com.au"
export SECRET_ACME_EMAIL="real@email.com.au"

# The Cloudflare API TOKEN
# e.g. "yourapikey"
export CLOUDFLARE_API_TOKEN="cloudflare-api-token"

# The Cloudflare DNS NAMES
export NGNIX_DNS_NAME="ngnix.amtired.com"

