#
# Environment variables
#

# The YAML file that contains data for root README.MD
# e.g. docs/data/home.yml
export HOME_README_DATA_FILE=

# The template file that defines README.MD
# e.g. docs/templates/readme/readmeTemplate.tmpl
export README_TEMPLATE_FILE=

# The absolute path of README.MD file name to be generated
# e.g. "../../README.MD"
export HOME_README_FILE=
